@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fill-black {
    fill: #231F20;
  }
  .fill-white {
    fill: #FFFFFF;
  }
  .stroke-primary {
    stroke: #9C8E1B;
  }
  .stroke-black {
    stroke: #231F20;
  }
  .stroke-white {
    stroke: #FFFFFF;
  }
}

@keyframes title-enter {
  0% {
    @apply text-primary-500;
  }
  to {
    @apply opacity-100;
  }
}
@keyframes slide-enter {
  0% {
    @apply opacity-10 blur-sm;
  }
  to {
    @apply opacity-100;
  }
}
@media (prefers-reduced-motion:no-preference) {
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .title-enter {
    animation: title-enter 0.8s both 0.8s;
    animation-delay: 0s;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) [slide-enter],
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter {
    --enter-stage: 0;
    --enter-step: 20ms;
    --enter-initial: 0ms;
    animation: slide-enter 0.2s both 0.2s;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage0 {
    --enter-stage: 0;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage1 {
    --enter-stage: 1;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage2 {
    --enter-stage: 2;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage3 {
    --enter-stage: 3;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage4 {
    --enter-stage: 4;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage5 {
    --enter-stage: 5;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage6 {
    --enter-stage: 6;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage7 {
    --enter-stage: 7;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage8 {
    --enter-stage: 8;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage9 {
    --enter-stage: 9;
  }
  :not(.no-sliding) .slide-enter-content :not(.no-sliding) .slide-enter.slide-enter-stage10 {
    --enter-stage: 10;
  }
}

.prose > div > h1:first-of-type {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.prose > div > h2:first-of-type,
.prose > div > p:first-of-type > h2:first-of-type {
  margin-top: 0;
}
